body {
    overflow-x: hidden;
}

div#header {
    background-color: white;
    border-radius: 50px;
    overflow: hidden;

}

#header img{
    width:30px;
    height:auto;

}



.row.reverseWhenBig {
    flex-direction: row-reverse;
}




#imageViewport{
    background-color: black;
    padding-bottom: 75%;
    width: 100%;
    background-size: contain;
}
#imageViewport img{
    width:100%;
    height:auto;
}


ul#myTab li a {
    padding: 12px 10px;
}


input#captureRaw {
    width: 20px;
    height: 27px;
    margin-right: 10px;
}