body {
    margin-bottom:10px;
}

#header img{
    width:40px;
    height:auto;

}



.row.reverseWhenBig {
    flex-direction: row-reverse;
}


footer{
    background: black;
    position: fixed;
    width: 100%;
    bottom: 0px;
    color: white;
    text-align: center;
}



#imageViewport{
    background-color: black;
    padding-bottom: 75%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#imageViewport img{
    width:100%;
    height:auto;
}


ul#myTab li a {
    padding: 8px 8px;
}


input#captureRaw {
    width: 20px;
    height: 27px;
    margin-right: 10px;
}


#status{
    color: white;
}
#status .isReady .oi{
    color: green;
}
#status .isStreaming .oi,
#status .isShooting .oi{
    color: orange;
}
#status .isRestarting .oi{
    color: darkred;
}
#status .isWarning .oi{
    color: pink;
}

#status .isUpdating .oi{
    color: cornflowerblue;
}

div#messageViewport {
    background-color: rgba(0,0,0,.3);
    color: white;
    margin-top: -32px;
}


textarea#systemLog {
    width: 100%;
    height: 150px;
  }