body {
    overflow-x: hidden;
}

#header img{
    width:40px;
    height:auto;

}



.row.reverseWhenBig {
    flex-direction: row-reverse;
}




#imageViewport{
    background-color: black;
    padding-bottom: 75%;
    width: 100%;
    background-size: contain;
}
#imageViewport img{
    width:100%;
    height:auto;
}


ul#myTab li a {
    padding: 8px 10px;
}


input#captureRaw {
    width: 20px;
    height: 27px;
    margin-right: 10px;
}


#status{
    color: white;
}
#status .isReady .oi{
    color: green;
}
#status .isShooting .oi{
    color: orange;
}
#status .isRestarting .oi{
    color: darkred;
}
#status .isWarning .oi{
    color: pink;
}
