<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/pi.css">
    <link href="/css/open-iconic-bootstrap.css" rel="stylesheet">
</head>
<body>

<script src="/js/vue.min.js"></script>

<script src="js/jquery-3.6.0.min.js"></script>
<script src="/letslapse.js"></script>


<script src="/js/bootstrap.min.js"></script>
<script src="/js/util.js"></script>



  <!-- main nav at header-->



  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div id="header">
      <a href="/"><img src="/img/square-logo-bw-trans.png" alt=""></a>      
    </div>
    <div id="status" class="ml-2">
      <div class="isLoading statusMessage">
        <span class="oi oi-project" title="icon reload" aria-hidden="false"></span> Loading
      </div>
      <div class="isReady statusMessage  d-none">
        <span class="oi oi-circle-check" title="icon reload" aria-hidden="false"></span> Ready
      </div>
      <div class="isShooting d-none statusMessage">
        <span class="oi oi-clock" title="icon clock" aria-hidden="false"></span> Shooting
      </div>
      <div class="isShootingTimelapse d-none statusMessage">
        <span class="oi oi-clock" title="icon clock" aria-hidden="false"></span> Shooting <span class="extraInfo"></span>
      </div>
      <div class="isRestarting d-none statusMessage">
        <span class="oi oi-reload" title="icon reload" aria-hidden="false"></span> Restarting
      </div>
      <div class="isWarning d-none statusMessage">
        <span class="oi oi-warning" title="icon reload" aria-hidden="false"></span> Issue <span class="extraInfo"></span>
      </div>
      <div class="isStreaming d-none statusMessage">
        <span class="oi oi-video" title="icon reload" aria-hidden="false"></span> Streaming <span class="extraInfo"></span>
      </div>
      
    </div>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item  ml-auto mr-auto">
          <a class="nav-link" href="javascript:power('reset')"><span class="oi oi-reload" title="icon reload" aria-hidden="false"></span> Reset</a>
        </li>
        <li class="nav-item ml-auto mr-auto">
          <a class="nav-link" href="javascript:power('shutdown')"><span class="oi oi-power-standby" title="icon power-standby" aria-hidden="false"></span>Shutdown</a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- main viewer compontent-->
  <main role="main" class="container">
    <div class="row reverseWhenBig">
      <div class="col-md-6 viewportCol p-0">

        <div id="imageViewport" onclick="clickViewport()" style="background-image: url(/img/square-logo-bw-trans.png);">
          <!--img src="/img/square-logo-bw-trans.png" alt="image loading"-->
          <div id="messageViewport" >
            <div class="text-center statusMessage isLoading p-1" role="alert">
              

              <a class="btn btn-secondary btn-sm active pt-1 pb-1" >
                <span class="oi oi-project"></span>
                Loading
              </a>

            </div>
            <div class="text-center statusMessage isReady p-1 d-none" role="alert">
              

              <a href="javascript:clickViewport()" class="btn btn-secondary btn-sm active pt-1 pb-1" >
                <span class="oi oi-video"></span>
                See video stream
              </a>

            </div>
            <div class="text-center statusMessage isStreaming p-1  d-none" role="alert">
              <a href="javascript:clickViewport()" class="btn btn-secondary btn-sm active pt-1 pb-1" >
                <span class="oi oi-media-stop"></span>
                Stop video stream
              </a>
            </div>
            <div class="text-center statusMessage isShooting p-1  d-none" role="alert">
              <a href="#" class="btn btn-secondary btn-sm active pt-1 pb-1" >
                <span class="oi oi-aperture"></span>
                Taking still image
              </a>
            </div>
            <div class="text-center statusMessage isShootingTimelapse p-1 d-none" role="alert">
              <a href="javascript:clickViewport()" class="btn btn-secondary btn-sm active pt-1 pb-1" >
                <span class="oi oi-loop-circular"></span>
                Refresh
              </a>
              <a href="#" class="btn btn-secondary btn-sm active pt-1 pb-1 imageOpen" target="_blank">
                <span class="oi oi-external-link"></span>
                Open
              </a>
            </div>


            <div class="text-center statusMessage isRestarting p-1 d-none" role="alert">
              <a href="#" class="btn btn-secondary btn-sm active pt-1 pb-1" >
                <span class="oi oi-loop-reload"></span>
                Restarting now
              </a>
            </div>

            <div class="text-center statusMessage isWarning p-1 d-none" role="alert">
              <a href="#" class="btn btn-warning btn-sm active pt-1 pb-1" >
                <span class="oi oi-loop-reload"></span>
                Something's wrong :/
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 controlCol p-0">
        <form action="/" target="" id="mainForm">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="true"><span class="oi oi-camera-slr" title="icon name" aria-hidden="true"></span> Still</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="timelapse-tab" data-toggle="tab" href="#timelapse" role="tab" aria-controls="timelapse" aria-selected="false"><span class="oi oi-timer" title="icon name" aria-hidden="true"></span> Timelapse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" onclick="openGallery()" role="tab" aria-controls="gallery" aria-selected="false"><span class="oi oi-image" title="icon name" aria-hidden="true"></span> Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false"><span class="oi oi-cog" title="icon name" aria-hidden="true"></span> Config</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">

            <!-- START of stills tab-->
            <div class="tab-pane fade show active container" id="photo" role="tabpanel" aria-labelledby="photo-tab">
              
          
              <div class="container">
                <!-- Content here -->
                <div class="form-group">
                  <div class="row text-center">
                    <div class="col-sm">
                      <button type="button" class="btn btn-lg btn-primary m-3" onclick="takeStill()">Take Still Image</button>
                    </div>
                  </div>
            
                  <div class="custom-control custom-switch text-center mb-2 ">
                    <input type="checkbox" class="custom-control-input collapsed" id="manualSwitch1" data-toggle="collapse" href="#manualControls1" role="button" aria-expanded="false" aria-controls="manualControls1">
                    <label class="custom-control-label" for="manualSwitch1">Manual Control</label>
                  </div>
            
            
            
                  <div class="collapse" id="manualControls1">
                    <div class="container p-0">
                      <div class="row mb-2">
                        <div class="col">
                          <select id="presets" class="form-control" onchange="setPreset();" >
                            <option value="sunnyDay">Sunny Day Open Sky</option>
                            <option value="sunnyForrest">Sunny Day Covered Forrest</option>
                            <option value="sunset">Sunset</option>
                            <option value="nightIndoor">Night Indoor</option>
                            <option value="nightUrban">Urban Night</option>
                            <option value="nightNature">Nature at Night</option>
                          </select>
                          <sub>Preset for preconfigured still image values</sub>
                        </div>
                      </div>
            
                      <div class="row">
                        <div class="col-4">
                          <strong>Shutter:</strong>
                          <select id="ss" name="ss" class="form-control">
                            <option value="250">1/4000</option>
                            <option value="500">1/2000</option>
                            <option value="1000">1/1000</option>
                            <option value="2000">1/500</option>
                            <option value="4000">1/250</option>
                            <option value="8000" selected>1/125</option>
                            <option value="16667">1/60</option>
                            <option value="33333">1/30</option>
                            <option value="66666">1/15</option>
                            <option value="125000">1/8</option>
                            <option value="250000">1/4</option>
                            <option value="500000">1/2</option>
                            <option value="1000000">1"</option>
                            <option value="2000000">2"</option>
                            <option value="5000000">5"</option>
                            <option value="10000000">10"</option>
                            <option value="15000000">15"</option>
                            <option value="30000000">30"</option>
                            <option value="60000000">60"</option>
                          </select>
                        </div>
                        <div class="col-2">
                          <strong>AG:</strong>
                          <select id="analogueGains" name="analogueGains" class="form-control" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                          </select>
                          
                        </div>
                        <div class="col-2">
                          <strong>DG:</strong>
                          <select id="digitalGains" name="digitalGains" class="form-control" >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                          </select>
                          
                        </div>
                        <div class="col-4">
                          <strong>AWBG:</strong>
                          <input id="awbg" name="awbg" class="form-control" placeholder="e.g. 3,2"></input>
                          <sub>Gain values from sensor for blue and red channels <a href="javascript:getGains('awbg');" >auto-detect</a></sub>
                        </div>
                      </div>
            
                      <div class="row">
                        <div class="col-12">
                          <div class="input-group input-group-md form-control-lg">
                            <input type="checkbox" id="captureRaw" value="0" />
                            <label class="checkbox-inline" aria-describedby="captureRaw" id="captureRaw" for="captureRaw"> Capture RAW image</label>
                          </div>
                        </div>
                      </div>
                    </div>
            
            
                  
                  
                    </div>
                  </div>
                
          
                  </div>
          
              </div>
          
            <!-- END of still tab-->
          
            <!-- start of timelapse tab-->
            <div class="tab-pane fade container" id="timelapse" role="tabpanel" aria-labelledby="timelapse-tab">
              
              <div class="form-group">
                <div class="row text-center">
                  <div class="col-sm">
                    <button type="button" class="btn btn-lg btn-primary m-3 startBtn" onclick="startTimelapse()">Start Time-lapse Sequence</button>

                    <button type="button" class="btn btn-lg btn-primary m-3 stopBtn d-none" onclick="stopTimelapse()">Stop Time-lapse Sequence</button>
                    <div class="custom-control custom-switch text-center mb-2 d-none pauseOrKillContainer">
                      <input type="checkbox" class="custom-control-input d-none" id="pauseOrKill" data-toggle="collapse" href="#pauseOrKillWarning" role="button" aria-expanded="false" aria-controls="pauseOrKillWarning">
                      <label class="custom-control-label" for="pauseOrKill">Stop and Finalise</label>
                    </div>
                    <div class="collapse" id="pauseOrKillWarning">
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Heads-up!</strong> <br>Stop and Finalise indicates you do not plan to resume the shoot and this time-lapse is finshed.
                      </div>
                    </div>

                    <div class="d-none" id="newNameRequired">
                      <div class="alert alert-warning fade show" role="alert">
                        <strong>Shoot <span class="shootName">is</span> already in system.</strong>
                        <br>Please specifiy a new unique name.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                    

                  </div>
                </div>
          
                <div class="custom-control custom-switch text-center mb-2 ">
                  <input type="checkbox" class="custom-control-input collapsed" id="manualSwitch2" data-toggle="collapse" href="#manualControls2" role="button" aria-expanded="false" aria-controls="manualControls2">
                  <label class="custom-control-label" for="manualSwitch2">Manual Control</label>
                </div>

                <div class="collapse container" id="manualControls2">
                  <div class="row">
                    <div class="col-sm-12 col-md-5 form-group">
                      <label for="shootName" class="form-check-label" >Shoot Name</label>
                      <input type="text" id="shootName" placeholder="StreetsOfPrague" class="form-control">
                    </div>
                    
                  
                      <div class="col-sm-12 col-md-7 form-group">
                        <label class="form-check-label" for="resolution">JPEG Resolution</label>
                      <select name="resolution" id="resolution" class="form-select form-control" aria-label="Default select example">
                        <option value="4096">4K Resolution - 4096x3072px</option>
                        <option value="2560">2.5K Resolution - 2560x1920px</option>
                        <option value="1920">HD Resolution - 1920x1440</option>
                        <option value="720">SD Low Resolution - 720x540</option>
                        <option value="360">Minimum Resolution - 360x270 (useful for RAW processing only)</option>
                      </select>
                      <small class="text-muted">RAW files included inside of JPEG at full resolution</small>
                    </div>
                    </div>


                    
                    <div class="row">
                      <div class="col-sm-6">
                      <div class="form-group form-check ">
                        <input type="checkbox" class="form-check-input" id="rawTimelapse">
                        <label class="form-check-label" for="rawTimelapse">Capture Raw </label>
                          <br><small class="text-muted">Experimental, will make much larger files</small>
                      </div>
                      </div>
                      <div class="col-sm-6">
                        
                        <div class="form-group form-check ">
                          
                          <input type="checkbox" class="form-check-input" id="useThumbnail">
                          <label class="form-check-label" for="useThumbnail">Include Thumbnails</label>
                          <br> <small class="text-muted">Include a 600x450px thumbnail for better previews, has performance impact</small>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <strong>White Balance Settings</strong> <br />
                        <sub>AWBG color correction; floating point for sensor gain values in red and blue</sub>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-group ">
                          <label class="form-check-label" for="startingGains">AWBG: </label>
                          <input type="text" class="form-control" id="startingGains" placeholder="1,1" value="1,1">
                          <br><small class="text-muted"><a href="javascript:getGains('startingGains');" >Auto-detect NOW</a></small>
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="form-group form-check ">
                          <input type="checkbox" class="form-check-input" id="disableAWBG">
                          <label class="form-check-label" for="disableAWBG">Lock AWBG</label>
                          <small class="text-muted">Disables AWBG analysis to capture images faster</small>
                        </div>
                       
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-12">
                        <strong>Exposure Settings</strong> <br />
                        <sub>Leave untouched for default settings, or set as required for custom starting settings</sub>
                      </div>
                      <div class="col-6">
                        Shutter:
                        <select id="startingSS" name="startingSS" class="form-control">
                          <option value="250">1/4000</option>
                          <option value="500">1/2000</option>
                          <option value="1000">1/1000</option>
                          <option value="2000">1/500</option>
                          <option value="4000">1/250</option>
                          <option value="8000" selected>1/125</option>
                          <option value="16667">1/60</option>
                          <option value="33333">1/30</option>
                          <option value="66666">1/15</option>
                          <option value="125000">1/8</option>
                          <option value="250000">1/4</option>
                          <option value="500000">1/2</option>
                          <option value="1000000">1"</option>
                          <option value="2000000">2"</option>
                          <option value="5000000">5"</option>
                          <option value="10000000">10"</option>
                          <option value="15000000">15"</option>
                          <option value="30000000">30"</option>
                          <option value="60000000">60"</option>
                        </select>
                        
                      </div>
                      <div class="col-3">
                        AG:
                        <select id="analogueGains" name="analogueGains" class="form-control" >
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                        </select>
                        
                      </div>
                      <div class="col-3">
                        DG:
                        <select id="digitalGains" name="digitalGains" class="form-control" >
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                        </select>
                        
                      </div>

                      <div class="col-sm-12">
                        <div class="form-group form-check">
                          <div class="row">
                            <div class="col-sm-4">
                              <input type="radio" class="form-check-input" id="underexposeNights" checked="true" name="exposureSettings">
                              <label class="form-check-label" for="underexposeNights">Underexpose Nights </label>
                              <br><small class="text-muted">Ideal for city shooting where bright lights can overexpose</small>
                            </div>
                            <div class="col-sm-4">
                              <input type="radio" class="form-check-input" id="autoExposure" name="exposureSettings">
                              <label class="form-check-label" for="autoExposure">Auto Exposure from bright day to dark night </label>
                              <br><small class="text-muted">Ideal for day to dark night sky</small>
                            </div>
                          <div class="col-sm-4">
                            <input type="radio" class="form-check-input" id="lockedExposure" name="exposureSettings">
                            <label class="form-check-label" for="lockedExposure">Locked Exposure </label>
                            <br><small class="text-muted">Ideal for controlled light settings</small>
                          </div>
                        </div>
                      </div>
                      
                    </div>



                  </div>        
                  
                  

                  <div class="row">
                    
                      <div class="col-12">
                        <strong>Capture Settings</strong> <br />
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group ">
                          <label class="form-check-label" for="delayBetweenShots">Delay between images: </label>
                          <input type="text" class="form-control" id="delayBetweenShots" placeholder="Default: 0 (no delay)" >
                          
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group ">
                          <label class="form-check-label" for="exitAfter">Exit after seconds: </label>
                          <input type="text" class="form-control" id="exitAfter" placeholder="Default: 0 (indefinite)" >
                          
                        </div>
                      </div>
                      
                      
                    </div>
                   
                    
                    <div class="row">
                      <div class="col-sm-12">
                      <div class="form-group form-check ">
                        <input type="checkbox" class="form-check-input" id="ultraBasic">
                        <label class="form-check-label" for="ultraBasic">UltraBasic</label>
                          <br /><small class="text-muted">Uses 'raspistill -t 0 -tl 3000 -o shoot-name'</small>
                      </div>
                    </div>
                    </div>
                  
                    
                </div>

              </div>

            </div>


            <!-- END of timelapse tab-->
          
            <!-- start of GALLERY tab-->
            <div class="tab-pane fade container" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
              <div class="row text-center">
                <div class="col">

                  <div class="btn-group btn-group-toggle  m-3 " data-toggle="buttons">
                    <label class="btn btn-secondary active stillGalleryBtn" onclick="getStills();">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Still Gallery
                    </label>
                    <label class="btn btn-secondary timelapseGalleryBtn" onclick="getShoots();">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Timelapse Gallery
                    </label>
                    <label class="btn btn-secondary videoGalleryBtn" onclick="getVideos();">
                      <input type="radio" name="options" id="option3" autocomplete="off"> Video Gallery
                    </label>
                  </div>

                </div>
              </div>
              
              <div id="galleryApp" class="d-none" >
                <div class="container" v-for="shoot in shoots">
                  <div class="row shootName" >
                    <div class="col theLabel">{{ shoot.shootName }}</div>
                  </div>
                  <div class="row shootImages">
                    <div class="col col-4 p-0" v-for="image in shoot.shootImages">
                      <a v-bind:href="'/'+shoot.shootName+'/group'+image+'.jpg'" target="_blank">
                        <img v-bind:src="'/'+shoot.shootName+'/group'+image+'_thumb.jpg'" class="theImage" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="stillsApp" class="d-none" >
                <div class="container" >

                  <div class="row stillImages">
                    <div class="col col-4 p-0" v-for="still in stills">
                      <a v-bind:href="'/stills/'+still+'.jpg'" target="_blank">
                        <img v-bind:src="'/stills/'+still+'_thumb.jpg'" class="theImage" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="videosApp" class="d-none" >
                <div class="container" >
                  <div class="row stillImages">
                    <div class="col col-12 p-0" v-for="video in videos">
                      <ul>
                        <li>
                          <a v-bind:href="'/videos/'+video+''" v-bind:download="video" >Download {{video}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            
            
            </div>

            <!-- END of TIMELAPSE tab-->
          
            <!-- start of settings tab-->


            <div class="tab-pane fade container" id="settings" role="tabpanel" aria-labelledby="settings-tab">
              <div class="row">
                <div class="m-3 col text-center">
                  <h4>Update LetsLapse</h4>
                  <button type="button" class="btn btn-secondary" onclick="updateCode()">Update Code</button>
                  <div class="form-group m-3 ">
                  
                    <textarea class="form-control disabled" id="systemLog" rows="3"></textarea>
                  </div>
                </div>
                
                <!--input type="text" id="videoPath" placeholder="videoPath" class="form-control">
                <button onclick="convertVideoToFrames();" type="button">Convert to frames</button-->

              </div>
            </div>


            <!-- END of settings tab-->

          </div>
          
          
          
          
          
          </form>
      </div>
    </div>


  </main>

  <footer class="footer">
    <div class="container">
      <sub>Place sticky footer content here.</sub>
    </div>
  </footer>

</body>
</html>
